<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Project</title>
</head>

<body>
    <h1> Edit <%= project.project_name %>
    </h1>

    <div>
        <form action="/projects/<%= project._id %>?_method=PUT" method="POST">
            <label for="project_name"> Project Name:</label>
            <input type="text" name="project_name" id="project_name" value="<%= project.project_name %>"
                placeholder="Project Name"> <br>

            <label for="project_description"> Project Description:</label>
            <input type="text" name="project_description" value="<%= project.project_description %>"
                id="project_description" placeholder="Project Description"> <br>

            <label for="project_languages"> Project Languages:</label>
            <input type="text" name="project_languages" value="<%= project.project_languages %>" id="project_languages"
                placeholder="Project Languages"> <br>

            <label for="project_cover"> Project Cover Image:</label>
            <input type="text" name="project_cover" value="<%=project.project_cover%>" id="project_cover"
                placeholder="Project Cover Image"> <br>

            <label for="project_demo"> Project Demo:</label>
            <input type="text" name="project_demo" value="<%=project.project_demo%>" id="project_demo"
                placeholder="Project Demo Link"> <br>

            <label for="project_frontend"> Project Frontend Repo:</label>
            <input type="text" name="project_frontend" value="<%=project.project_frontend%>" id="project_frontend"
                placeholder="Project Frontend Repo"> <br>

            <label for="project_backend"> Project BackEnd Repo:</label>
            <input type="text" name="project_backend" value="<%=project.project_backend%>" id="project_backend"
                placeholder="Project Backend Repo"> <br>
            <button type="submit"> Submit </button>
        </form>

        <div> <a href="/projects"> Cancel</a> </div>


    </div>

</body>

</html>